@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');


*{
    margin:0;
    padding:0;
    /*box-sizing: border-box;*/
    
}

body {
    background-color: hsl(185, 75%, 39%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-image: url("./images/bg-pattern-top.svg"), url("./images/bg-pattern-bottom.svg");
    background-position: top left no-repeat, bottom right no-repeat;
    background-size: 1000px, 1000px, auto;
    /*background-repeat: repeat, repeat;*/
    font-family: "Kumbh Sans", sans-serif;
    
}
/*HARD TIME ADJUSTING BACKGROUND TO SYNC DIAGONALLY*/


.card{
    background-color: white;
    border-radius: 15px;
    width: 400px;
    height: 380px;
    display: flex;
    
    flex-direction: column;
}


.upperDesign{
    
    width: 400px;
    height: 200px;
    background-image: url("./images/bg-pattern-card.svg");
}


img{
    /*background-image: url("./images/image-victor.jpg");*/
    
    display:circle;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    display: flex;
}




.topDesc{
    
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 250px;
    justify-content: center;
    align-items: center; 
}


.topDesc h3{
    
    justify-content: space-around;
    padding: 15px;
    color: hsl(0, 0%, 59%);
    font-weight: 400;

}

.topDesc b{
    color: black;
}

.topDesc h4{
    font-weight: 400;
    color: hsl(0, 0%, 59%);
}

.footer{
    
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 220px;
    margin-top: 2px;
    border-top: solid;
   /* border-top-width: 2px;*/
    border-color: hsl(0, 0%, 59%);
    font-family: "Kumbh Sans", sans-serif;
    
}

.footer p:first-child{
    font-weight: 700;
    font-size: 18px;
}

.footer p:last-child{
    font-weight: 400;
    color: hsl(0, 0%, 59%);
    font-size: 13px;
}
